// div.wrap > header, content, nav, footer
//
// header > nav.top-nav > div.logo-img + (ul.top-nav-menu > li * 5) + p.description
// content > img.slide-img
// nav.bottom-nav > (div.left-item > img.item-img + p.item-title) + (div.right-item > img.item-img + p.item-title)
// footer > p.footer-text

.wrap {
  max-width: 1120px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 2px 7px #ccc;
  font-size: 16px;
}

.top-nav {
  width: 85.7%;
  margin: 0 auto;
  padding: 55px 0;
  border-bottom: solid 1px #e1e1e1;
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
  > a {
    > .logo-img {
      float: left;
      width: 172px;
      height: 172px;
      background-image: url(../image/logo.gif);
      display: inline-block;
    }
  }
  > .top-nav-menu {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 80px 0 0 0;
    font-size: 0.9em;
    font-weight: bold;
    > a > li {
      float: left;
      margin-left: 25px;
    }
  }
}

.description {
  width: 85.7%;
  margin: 0 auto 60px auto;
  padding: 30px 0;
  border-bottom: solid 1px #e1e1e1;
  text-align: center;
  font-family: Georgia, Times, serif;
  line-height: 1.3em;
  font-size: 0.96em;
}

.main-content {
  width: 85.7%;
  height: auto;
  margin: 0 auto;
  > .slide-img {
    max-width: 85.7%;
    height: auto;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 60px auto;
  }
}

.bottom-nav {
  width: 85.7%;
  margin: 0 auto 80px auto;
  padding-bottom: 60px;
  border-bottom: solid 1px #e1e1e1;
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
  > .left-item {
    width: 46.875%;
    float: left;
  }
  > .right-item {
    width: 46.875%;
    float: right;
    overflow: hidden;
  }
  .item-img {
    max-width: 100%
  }
  .item-title {
    text-align: center;
    font-family: Georgia, Times, serif;
    > span {
      font-size: 1.2em;
    }
  }
}

.footer {
  width: 85.7%;
  margin: 0 auto;
  padding-bottom: 100px;
  > .footer-text {
    text-align: center;
    font-size: 0.9em;
    font-family: Georgia, Times, serif;
  }
}
